<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>{{wanted_blog.name}}</title>
		<meta name="description" content="A simle blog" />
	<!-- css -->
	<link  rel="stylesheet" type="text/css" href="/css/overall.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="{{wanted_blog.get_blog_url()}}">{{wanted_blog.name}}</a></h1>
			</div>
			<div id="main">
				<div id="content" class="column">
					<div id="posts">
					{% for i in range(0,posts_no) %}
						{% if i%2==0 %}
						<div class="post even">
						{% else %}
						<div class="post">
						{% endif %}
							<h2 class="posttitle"><a href="{{posts[i].get_url()}}">{{ posts[i].title }}</a></h2>
							<p class="postauthor">author(s): 
							{% for author in posts[i].get_authors() %}
							{{ author.nickname }} 
							{% endfor %}
							</p>
							<p class="postdate">created on {{ posts[i].createdDate }}
							{% if posts[i].lastEditDate %}
							last edited on {{ posts[i].lastEditDate }}
							{% endif %}
							</p>
							<div class="tags">
								{% for tag in posts[i].get_tags() %}
								<a href="/blog/{{wanted_blog.name}}/tag/{{tag.name}}">{{tag.name}}</a> 
								{% endfor %}
							</div>
							<div class="postcontent">{{posts[i].cap500()}}</div>
							<a href="{{posts[i].get_url()}}" class="permalink">permalink</a>
							<div class="comments"><b>{{posts[i].views}}</b> views <!-- a href="comments1"><b>n</b> comments</a-->  
							up({{posts[i].thumbUp}})/down({{posts[i].thumbDown}})</div>
							{% if user and user.email() in posts[i].authors %}
							<div class="editbutton">
							<form action="/edit" method=POST>
								<input type="hidden" name="post_id" value="{{posts[i].post_id}}">
								<input type="submit" value="edit">
							</form>
							</div>
							{% endif %}
							
						<div class="share">
						<div class="fb-share-button" data-href="{{host}}{{posts[i].get_url()}}" data-type="button_count"></div>
						<script>(function(d, s, id) {
  									var js, fjs = d.getElementsByTagName(s)[0];
  									if (d.getElementById(id)) return;
  									js = d.createElement(s); js.id = id;
  									js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=513150252125419";
  									fjs.parentNode.insertBefore(js, fjs);
  									}(document, 'script', 'facebook-jssdk'));</script>
  						<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{host}}{{posts[i].get_url()}}">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						<script src="https://apis.google.com/js/plusone.js"></script>
						<g:plus action="share" href="{{host}}{{posts[i].get_url()}}"></g:plus>
						</div>
						
						</div>
						{% endfor %}
					</div>
					<div id="pages">{{page.get_html()|safe}}</div>
					{% if wanted_blog.name in userdb.blogs %}
					<div id="newpost">
						<h2>New Post</h2>
						<form id="newpostform" action="/newpost" method=POST>
							<h3>title:</h3>
							<input id="newposttitle" class="posttext" type="text" name="post_title">
							<h3>content:</h3>
							<textarea id="newpostcontent" class="posttext" rows="8" name="post_content"></textarea>
							<h3>tags:</h3>(separated with space)
							<input id="newposttags" class="posttext" type="text" name="post_tags">
							<input type="hidden" name="post_author" value="{{user.email()}}">
							<input type="hidden" name="blog_name" value="{{wanted_blog.name}}">
							<br/><div id="submitblog"><input type="submit" value="post"></div>
						</form>
						<form id="uploadImage" action="/uploadimage" method=POST enctype="multipart/form-data">
						 	<input type="hidden" name="user_email" value="{{user.email()}}">
							upload image: <input type="file" name="img" accept="image/*"> <div id="uploadimage" class="rightbutton"><input type="submit" value="upload"></div>
						</form>
					</div>
					{% else %}
					{% endif %}
				</div>
				<div id="right" class="column">
					<div id="login"><a href="{{log_url|safe}}">{{log_text}}</a></div>
					<div id="userdata">
						<!-- div id="useravatar"><img src="img/ico_app.png"/></div-->
						{% if user %}
							<div id="username">hello! {{user.nickname()}}</div>
							<div id="myblock">
							<h3>My Blogs:</h3>
							{% for blog in userdb.get_blogs() %}
							<a href="{{blog.get_blog_url()}}">{{blog.name}}</a><br/>
							{% endfor %}
							</div>
							<br/>
							<div id="mypic"><a href="/user/{{userdb.email}}/pic">My pictures</a></div>
						{% else %}
							<div id="username">hello! Please login.</div>
						{% endif %}
					</div>
					<div id="alltags">
						<h3>tags:</h3>
						<div>
						{% if wanted_blog %}
						{% for tag in tags %}
						<a href="/blog/{{wanted_blog.name}}/tag/{{tag.name}}">{{tag.name}}</a> 
						{% endfor %}
						{% else %}
						{% for tag in tags %}
						<a href="/tag/{{tag.name}}">{{tag.name}}</a> 
						{% endfor %}
						{% endif %}
						</div>
					</div>
					<div id="rss"><a href="{{wanted_blog.get_blog_url()}}/rss"><img id="rssicon" src="/img/rss.png"/></a></div>
					<div id="homelink"><a href="/">home</a></div>
				</div>
			</div>
			<div id="footer">
				<p>Design by <a href="mailto:nichaolun0305@gmail.com">Chaolun Ni</a>.</p>
			</div>
		</div>
	</body>
</html>
{% endautoescape %}