<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>Images</title>
		<meta name="description" content="A simle blog" />
	<!-- css -->
	<link  rel="stylesheet" type="text/css" href="/css/overall.css" />
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1><a href="/">Home</a></h1>
			</div>
			<div id="main">
				<div id="content" class="column">
					<div id="posts">
					{% for i in range(image_no[0],image_no[1]) %}
					<a href="{{wanted_user.get_image_url(i)}}"><img src="{{wanted_user.get_image_url(i)}}"></img></a><br/>
					{% endfor %}
					</div>
					<div id="pages">{{page.get_html()|safe}}</div>
					{% if user %}
					<div id="newpost">
						<form id="uploadImage" action="/uploadimage" method=POST enctype="multipart/form-data">
						 	<input type="hidden" name="user_email" value="{{user.email()}}">
							upload image: <input type="file" name="img" accept="image/*"> <div id="uploadimage" class="rightbutton"><input type="submit" value="upload"></div>
						</form>
					</div>
					{% endif %}
				</div>
				<div id="right" class="column">
					<div id="login"><a href="{{log_url|safe}}">{{log_text}}</a></div>
					<div id="userdata">
						<!-- div id="useravatar"><img src="img/ico_app.png"/></div-->
						{% if user %}
							<div id="username">hello! {{user.nickname()}}</div>
							<div id="myblock">
							<h3>My Blogs:</h3>
							{% for blog in userdb.get_blogs() %}
							<a href="{{blog.get_blog_url()}}">{{blog.name}}</a><br/>
							{% endfor %}
							</div>
							<br/>
							<div id="mypic"><a href="/user/{{userdb.email}}/pic">My pictures</a></div>
						{% else %}
							<div id="username">hello! Please login.</div>
						{% endif %}
					</div>
					<!--  div id="rss"><a href="rss"><img id="rssicon" src="/img/rss.png"/></a></div -->
					<div id="homelink"><a href="/">home</a></div>
				</div>
			</div>
			<div id="footer">
				<p>Design by <a href="mailto:nichaolun0305@gmail.com">Chaolun Ni</a>.</p>
			</div>
		</div>
	</body>
</html>
{% endautoescape %}