<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<title>{{post.title}}</title>
		<meta name="description" content="A simle blog" />
	<!-- css -->
	<link  rel="stylesheet" type="text/css" href="/css/overall.css" />
	</head>
	<body>
	<div id="fb-root"></div>
		<div id="wrapper">
			<div id="header">
				<h1><a href="{{wanted_blog.get_blog_url()}}">{{wanted_blog.name}}</a></h1>
			</div>
			<div id="main">
				<div id="content" class="column">
					<div id="posts">
						<h2 class="posttitle"><a href="{{post.get_url()}}">{{post.title}}</a></h2>
						<p class="postauthor">author:
						{% for author in post.get_authors() %}
							{{ author.nickname }} 
						{% endfor %}
						</p>
						<p class="postdate">created on {{ post.createdDate }}
						{% if post.lastEditDate %}
						last edited on {{ post.laseEditDate }}
						{% endif %}
						</p>
						<div class="tags">
							{% for tag in post.get_tags() %}
							<a href="/blog/{{wanted_blog.name}}/tag/{{tag.name}}">{{tag.name}}</a> 
							{% endfor %}
						</div>
						<div class="postcontent">{{post.parse_content()|safe}}</div>
						<div class="comments"><b>{{post.views}}</b> views <a href="{{post.get_up_url()}}" class="thumbup">up</a>({{post.thumbUp}})/<a href="{{post.get_down_url()}}" class="thumbdown">down</a>({{post.thumbDown}})</div>
						{% if user and user.email() in post.authors %}
						<div class="editbutton">
							<form action="/edit" method=POST>
								<input type="hidden" name="post_id" value="{{post.post_id}}">
								<input type="submit" value="edit">
							</form>
						</div>
						{% endif %}
						<div class="share">
						<div class="fb-share-button" data-href="{{host}}{{post.get_url()}}" data-type="button_count"></div>
						<script>(function(d, s, id) {
  									var js, fjs = d.getElementsByTagName(s)[0];
  									if (d.getElementById(id)) return;
  									js = d.createElement(s); js.id = id;
  									js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=513150252125419";
  									fjs.parentNode.insertBefore(js, fjs);
  									}(document, 'script', 'facebook-jssdk'));</script>
  						<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{host}}{{post.get_url()}}">Tweet</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						<script src="https://apis.google.com/js/plusone.js"></script>
						<g:plus action="share"></g:plus>
						</div>
					</div>
					{% if user %}
					<div id="newpost">
						<h2>Comment</h2>
						<form id="newpostform" action="/" method=POST>
							<textarea id="newpostcontent" class="posttext" rows="8" name="post_content"></textarea>
							<br/><div id="submitblog"><input type="submit" value="post"></div>
						</form>
					</div>
					{% endif %}
				</div>
				<div id="right" class="column">
					<div id="login"><a href="{{log_url|safe}}">{{log_text}}</a></div>
					<div id="userdata">
						<!-- div id="useravatar"><img src="img/ico_app.png"/></div-->
						{% if user %}
							<div id="username">hello! {{user.nickname()}}</div>
							<div id="myblock">
							<h3>My Blogs:</h3>
							{% for blog in userdb.get_blogs() %}
							<a href="{{blog.get_blog_url()}}">{{blog.name}}</a><br/>
							{% endfor %}
							</div>
							<br/>
							<div id="mypic"><a href="/user/{{userdb.email}}/pic">My pictures</a></div>
						{% else %}
							<div id="username">hello! Please login.</div>
						{% endif %}
					</div>
					<div id="alltags">
						<h3>tags:</h3>
						<div>
						{% if wanted_blog %}
						{% for tag in tags %}
						<a href="/blog/{{wanted_blog.name}}/tag/{{tag.name}}">{{tag.name}}</a> 
						{% endfor %}
						{% else %}
						{% for tag in tags %}
						<a href="/tag/{{tag.name}}">{{tag.name}}</a> 
						{% endfor %}
						{% endif %}
						</div>
					</div>
					<div id="rss"><a href="{{wanted_blog.get_blog_url()}}/rss"><img id="rssicon" src="/img/rss.png"/></a></div>
					<div id="homelink"><a href="/">home</a></div>
				</div>
			</div>
			<div id="footer">
				<p>Design by <a href="mailto:nichaolun0305@gmail.com">Chaolun Ni</a>.</p>
			</div>
		</div>
	</body>
</html>
{% endautoescape %}